<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat Api</title>
  </head>

  <body>
    <h3>Welcome To Chat Api</h3>
    <ul>
      <li>
        <h3>Signin</h3>
        <section>
          Very Simple Authentication For Users
        </section>
        <h4>Method: POST</h4>
        <h4>Url: /api/auth/signin</h4>
      </li>
      <li>
        <h3>Signup</h3>
        <h4>Method: POST</h4>
        <h4>Url: /api/auth/signup</h4>
      </li>
      <li>
        <h3>Logout</h3>
        <h4>Method: POST</h4>
        <h4>Url: /api/auth/logout</h4>
      </li>
    </ul>
  </body>
</html>
